.users-title {
    margin-top: 100px;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: red;
    font-style: italic;
}
.user-active {
    margin-right: 20px;
}

.products-items-form {
    margin: 0px 3%;
}